.destroy
  .destroy__frame
    .destroy__frame__message
      削除が完了しました
    .destroy__frame__btns
      .credit_card_new_link
        = link_to new_credit_card_path,  class: "credit_card_new_link__btn", data: {"turbolinks"=> false}  do 
          クレジットカード新規登録
      .my_page_link
        = link_to "#", class: "my_page_link__btn" do 
          マイページに戻る