.pay
  .pay__frame
    .pay__frame__message
      購入が完了しました
    .pay__frame__btns
      .link__root
        = link_to root_path, class: "link__root__path" do
          トップページに戻る
      .link__user
        = link_to "#", class: "link__user__path" do 
          マイページに戻る