.main-h
  .main-h__daredemo
    .main-h__daredemo____background
      =image_tag "material/pict/bg-appBanner-pict.jpg", class: "daredemo____background__img"
    .main-h__daredemo__list__text
      だれでもかんたん、人生を変えるフリマアプリ
      %br
      今すぐ無料ダウンロード！
