.displayBtn
  =link_to "#", class: "displayBtn__btn" do
    .displayBtn__btn--in-box
      .displayBtn__btn--in-box--text
        出品する
      =image_tag "material/icon/icon_camera.png", size: "54x54", class: "displayBtn__btn--in-box--img"