.main-h
  =link_to "#", class: "main-h__displayBtn" do
    .displayBtn__in-box
      .displayBtn__in-box--text
        出品する
      =image_tag "material/icon/icon_camera.png", size: "54x54", class: "displayBtn__in-box--img"