.erabareru
  %h2.erabareru__subtitle
    FURIMAが選ばれる3つの理由
  .erabareru__line
    .erabareru__line--solid
      
  %ul.erabareru__lists
    %li.erabareru__lists--pict
      %span.erabareru__lists--pict--num
        1
      =image_tag "material/pict/pict-reason-01.jpg", class: "erabareru__lists--pict--image"
      %h3.erabareru__lists--pict--text
        %span.erabareru__lists--pict--text--green
          3分
        ですぐに出品
      %p.erabareru__lists--pict--desc
        スマホで入力するだけで簡単に出品できる！

    %li.erabareru__lists--pict
      %span.erabareru__lists--pict--num
        2
      =image_tag "material/pict/pict-reason-02.jpg", class: "erabareru__lists--pict--image"
      %h3.erabareru__lists--pict--text
        %span.erabareru__lists--pict--text--green
          シンプル 
        で使いやすい
      %p.erabareru__lists--pict--desc
        めんどくさい入力は必要なく、検索も購入もスムーズ！

    %li.erabareru__lists--pict
      %span.erabareru__lists--pict--num
        3
      =image_tag "material/pict/pict-reason-03.jpg", class: "erabareru__lists--pict--image"
      %h3.erabareru__lists--pict--text
        手数料
        %span.erabareru__lists--pict--text--green
          業界最安
      %p.erabareru__lists--pict--desc3
        最大3%でお得に出品&購入！