.erabareru
  %h2.erabareru__subtitle
    FURIMAが選ばれる3つの理由
  .erabareru__line
  ___________
  %ul.erabareru__lists
    %li.erabareru__lists__pict
      %span.erabareru__lists__pict__num
        1
      =image_tag "material/pict/pict-reason-01.jpg", class: "erabareru__lists__pict__image"
      %h3.erabareru__lists__pict__text
        %span.erabareru__lists__pict__text__green
          3分
        ですぐに出品
      %p.erabareru__lists__pict__desc
        スマホで入力するだけで簡単に出品できる！

    %li.erabareru__lists__pict
      %span.erabareru__lists__pict__num
        2
      =image_tag "material/pict/pict-reason-02.jpg", class: "erabareru__lists__pict__image"
      %h3.erabareru__lists__pict__text
        %span.erabareru__lists__pict__text__green
          シンプル 
        で使いやすい
      %p.erabareru__lists__pict__desc
        めんどくさい入力は必要なく、検索も購入もスムーズ！

    %li.erabareru__lists__pict
      %span.erabareru__lists__pict__num
        3
      =image_tag "material/pict/pict-reason-03.jpg", class: "erabareru__lists__pict__image"
      %h3.erabareru__lists__pict__text
        手数料
        %span.erabareru__lists__pict__text__green
          業界最安
      %p.erabareru__lists__pict__desc3
        最大3%でお得に出品&購入！