.main-h
  .main-h__erabareru
    %h2.main-h__erabareru__subtitle
      FURIMAが選ばれる3つの理由
    .main-h__erabareru__line
    ___________
    %ul.main-h__erabareru__lists
      %li.main-h__erabareru__lists__pict
        %span.main-h__erabareru__lists__pict__num
          1
        =image_tag "material/pict/pict-reason-01.jpg", class: "main-h__erabareru__lists__pict__image"
        %h3.main-h__erabareru__lists__pict__text
          %span.main-h__erabareru__lists__pict__text__green
            3分
          ですぐに出品
        %p.main-h__erabareru__lists__pict__desc
          スマホで入力するだけで簡単に出品できる！

      %li.main-h__erabareru__lists__pict
        %span.main-h__erabareru__lists__pict__num
          2
        =image_tag "material/pict/pict-reason-02.jpg", class: "main-h__erabareru__lists__pict__image"
        %h3.main-h__erabareru__lists__pict__text
          %span.main-h__erabareru__lists__pict__text__green
            シンプル 
          で使いやすい
        %p.main-h__erabareru__lists__pict__desc
          めんどくさい入力は必要なく、検索も購入もスムーズ！

      %li.main-h__erabareru__lists__pict
        %span.main-h__erabareru__lists__pict__num
          3
        =image_tag "material/pict/pict-reason-03.jpg", class: "main-h__erabareru__lists__pict__image"
        %h3.main-h__erabareru__lists__pict__text
          手数料
          %span.main-h__erabareru__lists__pict__text__green
            業界最安
        %p.main-h__erabareru__lists__pict__desc3
          最大3%でお得に出品&購入！