.footer
  %ul.footer__contents
    %li.footer__contents--content
      %h2.footer__contents--content--subtitle
        FURIMAについて
        %ul.footer__contents--content--subtitle--lists
          %li.footer__contents--content--subtitle--lists--list
            =link_to "会社概要（運営会社）", "#", class: "list-detail"
          %li.footer__contents--content--subtitle--lists--list
            =link_to "プライバシーポリシー", "#", class: "list-detail"
          %li.footer__contents--content--subtitle--lists--list
            =link_to "FURIMA利用規約", "#", class: "list-detail"
          %li.footer__contents--content--subtitle--lists--list
            =link_to "ポイントに関する特約", "#", class: "list-detail"
    %li.footer__contents--content
      %h2.footer__contents--content--subtitle
        FURIMAを見る
        %ul.footer__contents--content--subtitle--lists
          %li.footer__contents--content--subtitle--lists--list
            =link_to "カテゴリー一覧", "#", class: "list-detail"
          %li.footer__contents--content--subtitle--lists--list
            =link_to "ブランド一覧", "#", class: "list-detail"
    %li.footer__contents--content
      %h2.footer__contents--content--subtitle
        ヘルプ＆ガイド
        %ul.footer__contents--content--subtitle--lists
          %li.footer__contents--content--subtitle--lists--list
            =link_to "FURIMAガイド", "#", class: "list-detail"
          %li.footer__contents--content--subtitle--lists--list
            =link_to "FURIMAロゴ利用ガイドライン", "#", class: "list-detail"
          %li.footer__contents--content--subtitle--lists--list
            =link_to "お知らせ", "#", class: "list-detail"
  .footer__logo
    =link_to root_path, class: "footer__logo--link" do
      =image_tag 'material/logo/logo-white.png', class:"footer__logo--link--image"
  %p.footer__title
    © FURIMA
