.footer
  %ul.footer__contents
    %li.footer__contents--content
      %h2.footer__contents--content--subtitle
        FURIMAについて
        %ul.footer__contents--content--subtitle--lists
          %li.footer__contents__content--subtitle--lists--list
            会社概要（運営会社）
          %li.footer__contents__content--subtitle--lists--list
            プライバシーポリシー
          %li.footer__contents__content--subtitle--lists--list
            FURIMA利用規約
          %li.footer__contents__content--subtitle--lists--list
            ポイントに関する特約
    %li.footer__contents--content
      %h2.footer__contents--content--subtitle
        FURIMAを見る
        %ul.footer__contents--content--subtitle--lists
          %li.footer__contents--content--subtitle--lists--list
            カテゴリー一覧
          %li.footer__contents--content--subtitle--lists--list
            ブランド一覧
    %li.footer__contents--content
      %h2.footer__contents--content--subtitle
        ヘルプ＆ガイド
        %ul.footer__contents--content--subtitle--lists
          %li.footer__contents--content--subtitle--lists--list
            FURIMAガイド
          %li.footer__contents__content--subtitle--lists--list
            FURIMAロゴ利用ガイドライン
          %li.footer__contents__content--subtitle--lists--list
            お知らせ
  .footer__logo
    =link_to "#", class: "footer__logo--link" do
      =image_tag 'material/logo/logo-white.png', class:"footer__logo--link--image"
  %p.footer__title
    © FURIMA
