.jinsei
  .jinsei__background
    = image_tag "material/pict/bg-mainVisual-pict_pc.jpg", class: "jinsei__background__image"
  .jinsei__content
    %h2.jinsei__content__subtitle
      人生を変えるフリマアプリ
    %p.jinsei__content__text
      FURIMAはだれでもかんたんに出品・購入できる
      %br
      フリマアプリです
    .jinsei__content__btn