.jinsei
  .jinsei__background
    = image_tag "material/pict/bg-mainVisual-pict_pc.jpg", class: "jinsei__background--image"
  .jinsei__content
    %h2.jinsei__content--subtitle
      人生を変えるフリマアプリ
    %p.jinsei__content--text
      FURIMAはだれでもかんたんに出品・購入できる
      %br
      フリマアプリです
    .jinsei__content--btn
      =link_to "#", class: "jinsei__content--btn--app" do
        =image_tag 'material/logo/bag_app.png', class: "appstoreBtn"
      =link_to "#", class: "jinsei__content--btn--goo" do
        =image_tag 'material/logo/google-play-badge.png', class: "googleplayBtn"




