.main-h
  .main-h__jinsei
    .main-h__jinsei__background
      = image_tag "material/pict/bg-mainVisual-pict_pc.jpg", class: "main-h__jinsei__background__image"
    .main-h__jinsei__content
      %h2.main-h__jinsei__content__subtitle
        人生を変えるフリマアプリ
      %p.main-h__jinsei__content__text
        FURIMAはだれでもかんたんに出品・購入できる
        %br
        フリマアプリです
      .main-h__jinsei__content__btn