.jinsei
  .jinsei__background
    = image_tag "material/pict/bg-mainVisual-pict_pc.jpg", class: "jinsei__background__image"
  .jinsei__content
    %h2.jinsei__content__subtitle
      人生を変えるフリマアプリ
    %p.jinsei__content__text
      FURIMAはだれでもかんたんに出品・購入できる
      %br
      フリマアプリです
    .jinsei__content__btn
      =link_to "#", class: "jinsei__content__btn__app" do
        =image_tag 'material/logo/bag_app.png', class: "appstoreBtn"
      =link_to "#", class: "jinsei__content__btn__goo" do
        =image_tag 'material/logo/google-play-badge.png', class: "googleplayBtn"

