.jinsei
  %ul.jinsei__list
    = image_tag()
    .jinsei__list__text
      .jinsei__list__text--large
        人生を変えるフリマアプリ
      .jinsei__list__text--small
        FURIMAはだれでもかんたんに出品・購入できる
        %br
        フリマアプリです

.erabareru
  .erabareru--text
    FURIMAが選ばれる3つの理由

.kaiinsuu
  %ul.kaiinsuu__list
    .kaiinsuu__list__text
      .kaiinsuu__list__text__large
        会員数日本一位
      .kaiinsuu__list__text___small
        FURIMAは、フリマアプリで最も人気。
        %br
        出品・購入回数も業界最多です！
        %br
        ほしかったあの商品に出会えるかもしれません。

.tokucyou
  .tokucyou__list
    .tokucyou__list__text
      FURIMAの特徴

.pickup
  %ul.pickup__category
    .pickup__category__text
      .pickup__category__text__large
        ピックアップカテゴリー
      .pickup__category__text__small
        新規投稿商品

    .picup__brand
      .pickup__brand__text
        .pickup__brand__text__large
          ピックアップブランド
        .pickup__brand__text__small
          アーカイバ

.daredemo
  %ul.daredemo__list
    .daredemo__list__text
      だれでもかんたん、人生を変えるフリマアプリ
      %br
      今すぐ無料ダウンロード！



