.main-h
  .main-h__jinsei
    .main-h__jinsei__background
      = image_tag("material/pict/bg-mainVisual-pict_pc.jpg", class: "main-h__jinsei__background__image")
    .main-h__jinsei__content
      %h2.main-h__jinsei__content__subtitle
        人生を変えるフリマアプリ
      %p.main-h__jinsei__content__text
        FURIMAはだれでもかんたんに出品・購入できる
        %br
        フリマアプリです
      .main-h__jinsei__content__btn


  .main-h__erabareru
    .main-h__erabareru--text
      FURIMAが選ばれる3つの理由

  .main-h__kaiinsuu
    %ul.main-h__kaiinsuu__list
      .main-h__kaiinsuu__list__text
        .main-h__kaiinsuu__list__text__large
          会員数日本一位
        .main-h__kaiinsuu__list__text___small
          FURIMAは、フリマアプリで最も人気。
          %br
          出品・購入回数も業界最多です！
          %br
          ほしかったあの商品に出会えるかもしれません。

  .main-h__tokucyou
    .main-h__tokucyou__list
      .main-h__tokucyou__list__text
        FURIMAの特徴

  .main-h__pickup
    %ul.main-h__pickup__category
      .main-h__pickup__category__text
        .main-h__pickup__category__text__large
          ピックアップカテゴリー
        .main-h__pickup__category__text__small
          新規投稿商品

      .main-h__picup__brand
        .main-h__pickup__brand__text
          .main-h__pickup__brand__text__large
            ピックアップブランド
          .main-h__pickup__brand__text__small
            アーカイバ

  .main-h__daredemo
    %ul.main-h__daredemo__list
      .main-h__daredemo__list__text
        だれでもかんたん、人生を変えるフリマアプリ
        %br
        今すぐ無料ダウンロード！



