.pickup
  .pickup__category
    %h2.pickup__category--subtitle1
      ピックアップカテゴリー
    .pickup__category--subtitle2
      =link_to "#", class:"pickup__category--subtitle2--link" do
        新規投稿商品(商品一覧)
    .pickup__category--itemlists
      .pickup__category--itemlists--image
        =link_to "#",class:"pickup__category--itemlists--list--itembtn" do
          =image_tag 'material/pict/pict-reason-01.jpg', alt: '画像なし', height: '200', width: '150', class:'itembtn__img'
          =image_tag 'material/pict/pict-reason-01.jpg', alt: '画像なし', height: '200', width: '150', class:'itembtn__img'
          =image_tag 'material/pict/pict-reason-01.jpg', alt: '画像なし', height: '200', width: '150', class:'itembtn__img'
      .pickup__category--itemlists--name
        - @items.each do |item| 
          = item.name
      .pickup__category--itemlists--price
        - @items.each do |item| 
          = item.price
      -# .pickup__category--itemlists--image
      -#   - @item.each do |item| 
      -#   = item.'images.image'


