.main-h__pickup
  %ul.main-h__pickup__category
    .main-h__pickup__category__text
      .main-h__pickup__category__text__large
        ピックアップカテゴリー
      .main-h__pickup__category__text__small
        新規投稿商品

    .main-h__picup__brand
      .main-h__pickup__brand__text
        .main-h__pickup__brand__text__large
          ピックアップブランド
        .main-h__pickup__brand__text__small
          アーカイバ