.main-h
  .main-h__pickup
    .main-h__pickup__brand
      .main-h__pickup__brand__text
        .main-h__pickup__brand__text__large
          ピックアップブランド
        .main-h__pickup__brand__text__small
          アーカイバ