.pickup
  .pickup__category
    %h2.pickup__category__subtitle1
      ピックアップカテゴリー
    .pickup__category__subtitle2
      =link_to "#", class:"pickup__category__subtitle2--link" do
        新規投稿商品(商品一覧)
    .pickup__category__itemsbox
      .pickup__category__itemsbox__items
        =link_to "#",class:"pickup__category__itemsbox__items__itembtn" do
          =image_tag 'material/pict/pict-reason-01.jpg', alt: '画像なし', height: '200', width: '150', class:'itembtn__img'


