.main-h
  .main-h__tokucyou
    %h2.main-h__tokucyou__subtitle
      FURIMAが選ばれる3つの理由
    .main-h__tokucyou__line
    ___________
    %ul.main-h__tokucyou__lists
      %li.main-h__tokucyou__lists__pict
        =image_tag "material/icon/icon-01.png", class: "main-h__tokucyou__lists__pict__image"
        %h3.main-h__tokucyou__lists__pict__text
          簡単に売り買いできる
        %p.main-h__tokucyou__lists__pict__desc
          スマホひとつで、いつでもどこでも簡単に出品・購入が可能！

      %li.main-h__tokucyou__lists__pict
        =image_tag "material/icon/icon-03.png", class: "main-h__tokucyou__lists__pict__image"
        %h3.main-h__tokucyou__lists__pict__text
          売上金は即日振込みに対応
        %p.main-h__tokucyou__lists__pict__desc
          午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!

      %li.main-h__tokucyou__lists__pict
        =image_tag "material/icon/icon-04.png", class: "main-h__tokucyou__lists__pict__image"
        %h3.main-h__tokucyou__lists__pict__text
          様々な支払いに対応
        %p.main-h__tokucyou__lists__pict__desc
          お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法が
          %br
          あります。