.tokucyou
  %h2.tokucyou__subtitle
    FURIMAの特徴
  .tokucyou__line
    .tokucyou__line--solid
      
  %ul.tokucyou__lists
    %li.tokucyou__lists--pict
      =image_tag "material/icon/icon-01.png", class: "tokucyou__lists--pict--image"
      %h3.tokucyou__lists--pict--text
        簡単に売り買いできる
      %p.tokucyou__lists--pict--desc
        スマホひとつで、いつでもどこでも簡単に出品・購入が可能！

    %li.tokucyou__lists--pict
      =image_tag "material/icon/icon-03.png", class: "tokucyou__lists--pict--image"
      %h3.tokucyou__lists--pict--text
        売上金は即日振込みに対応
      %p.__tokucyou__lists--pict--desc
        午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!

    %li.tokucyou__lists--pict
      =image_tag "material/icon/icon-04.png", class: "tokucyou__lists--pict--image"
      %h3.tokucyou__lists--pict--text
        様々な支払いに対応
      %p.tokucyou__lists--pict--desc
        お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。