%html.total
  %body.top
    .main 
      .main__title ee
      .main__image
      .sub__image
        .sub__image--left
        .sub__image--right
      %h1 値段
      %ul
        %li (税込)送料込み
      %table
        %tr
          %td 出品者
          %td 
        %tr
          %td カテゴリー
          %td 
        %tr
          %td ブランド
          %td
        %tr
          %td 靴のサイズ
          %td
        %tr
          %td 商品の状態
          %td
        %tr
          %td 配送料の負担
          %td
        %tr
          %td 発信元の地域
          %td
        %tr
          %td 発送日の目安
          %td
    
