%html
  %body
    .main
      .header
      -# ここに商品一覧昨日で実装済みのものを実装します。
      .topContent
        .itemBox 
          .itemBox__title
          -# %h2= @item.name 
          .itemBox__image 
            %ul.itemBox__image--main
              -# saler_id.image（実装次第変更をかける）
              %li ここにメインの画像がきます
              %li 
                %ul.itemBox__image--main--sub
                  -# - @images.each do |img|
                  %li サブの画像１
                  
          .itemBox__price 
            %span 
              -# = @item.price.to_s(:delimited)
              円
            .itemBox__price--detail
              %span 
                (税込)
              %span
                送料込み
          .itemBox__detail この商品は世界に１枚しかない代物です。
          %table
            %tr
              %th 出品者
              %td.table__detail
                -# =@user.nickname
            %tr
              %th カテゴリー
              -# （実装次第変更をかける）
              %td トップス
            %tr
              %th.table__title ブランド
              -# （実装次第変更をかける）
              %td シャネル
            %tr
              %th.table__title サイズ
              -# （実装次第変更をかける）
              %td Mサイズ
            %tr
              %th.table__title 商品の状態
              -# （実装次第変更をかける）
              %td 良い
            %tr
              %th.table__title 配送料の負担
              -# （実装次第変更をかける）
              %td 出品者負担
            %tr
              %th.table__title 発信元の地域
              -# （実装次第変更をかける）
              %td 東京都
            %tr
              %th.table__title 発送日の目安
              -# （実装次第変更をかける）
              %td 2日
        .commentBox
          =form_with() do |form|
            = form.text_area :text, cols: "40", rows: "4", class: "commentBox__textbox"
            %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
            .commentBox__form
              = form.submit "コメントする", class: "commentBox__form--submit"
              %i.fas.fa-comment
        %ul.links
          %li= link_to '前のページ'
          %li= link_to '後ろのページ'

        
          -# 出品者用機能
          -# - if user_signed_in? && current_user.id == item.saler_id
          -# = link_to '編集', edit_item_path(items.id), method: :get
          -# = link_to '削除', item_path(items.id), method: :delete
          -#  end


          -# 出品者以外用機能
          -# - if user_signed_in? && current_user.id != item.saler_id
          -# = link_to '購入画面へ', _path(items.id), method: :
          -#  end


        -# 商品閲覧
        -#   if current_user && current_user = nil


        -# %i.fas.fa-comment

