.footer {
  height: 260px;
  background-color: rgb(39,39,39);
  padding: 30px 0;

  &__contents {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    color: white;
    

    &--content {
      
      &--subtitle {
        text-align: center;
        font-size: 16px;

        &--lists {
          list-style-type: none;
          margin-top: 20px;

          &--list {
            text-align: center;
            font-size: 10px;
            font-family: sans-serif;
            margin-bottom: 8px;
            
          }
        }
      }
    }
  }

  &__logo {
    text-align: center;

  }

  &__title {
    color: white;
    text-align: center;
  }
}

.footer__logo--link--image {
  width: 160px;
  height: 46px;
}