.pickup {
  &__category {
    &__subtitle1 {

    }
    &__subtitle2 {

    }
    &__itemlists {
      display: flex;
      display: block;
      flex-direction: row-reverse;
      &__name {
        display: flex;
        display: block;
        flex-direction: row-reverse;
      }
      &__price {
        display: flex;

      }
    }
  }
}