.pickup {
  &__category {
    &--subtitle1 {

    }
    &--subtitle2 {

    }
    &--itemlists {

      &--image{
        
      }
      display: flex;
      display: block;
      flex-direction: row-reverse;
      &--name {
        display: flex;
        display: block;
        flex-direction: row-reverse;
      }
      &--price {
        display: flex;

      }
    }
  }
}