// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// show.html.haml
html {
  height: 100vh;
}
body {
  margin: 0px;
  height: 100%;
}
.main {
  height: 100%;
  background-color: #f8f8f8;
  .topContent {
    height: 600px;
    padding: 0 400px;
    .itemBox {
      padding: 0 20px;
      background-color: white;
      &__title {
        text-align: center;
        margin-top: 5px;
        height: 50px;
        background-color: red;
        font-weight: bold;
      }
      &__image {
        &--main {
          &--sub {
            display: flex;
            justify-content: center;
          }
        }
      }
      &__price {
        text-align: center;
      }
      &__detail {
        word-wrap: break-word;
        height: 100px;
      }
      table {
        width: 100%;
        border-collapse: collapse;
      }
    }
    .commentBox {
      background-color: white;
      padding: 20px 20px 0 20px;
    }
    .links {
      padding-left: 0px;
      display: flex;
      justify-content: space-between;
    }
  }
    li {
      list-style: none;
      text-align: center;
    }
    td {
      border: solid 1px black;
    } 
    table td:nth-child(1) {
      text-align: center;
      width: 120px;
      background-color: #eee;
      font-weight: bold;
    }
    table td:nth-child(2) {
      padding-left: 10px;
      background-color: white;
      font-weight: bold;
    }
}


